<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- 设置翻译超时,单位毫秒 -->
		<add key="TranslateTimeout" value="10000"/>
		<!-- 设置是否使用百度翻译术语表,1启用，0禁用 -->
		<add key="BaiduGlossary" value="1"/>
		<add key="BackgroundColor" value="#70FFFFFF"/>
		<add key="Translator" value="ChatGPT"/>
		<add key="Src_Lang" value="en"/>
		<add key="Dst_Lang" value="zh"/>
	</appSettings>
</configuration>